html,
body,
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#infoBox {
    position: absolute;
    top: 15px;
    left: 15px;

    background: rgba(255, 255, 255, 0.9);

    padding: 15px;

    border-radius: 10px;

    font-family: Arial, sans-serif;

    max-width: 300px;

    z-index: 100;
}

#infoBox h2 {
    margin-top: 0;
}
#generateFloodBtn,
#clearFloodBtn {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background: #00d5ff;
    color: #00111f;
    font-weight: bold;
    cursor: pointer;
}

#clearFloodBtn {
    background: #ff4d4d;
    color: white;
}